.titleFunc {
    color: white;
    font-size: 18px;
    font-family: "Kanit";
    letter-spacing: 0.5px;
    text-align: center;
}

.btn-rounded-corners {
    margin-left: 25px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    
}
.titleBack {
    color: black;
    font-family: "Mali";
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bolder;
   
}

.text-invalid{
    font-size: 0.85rem;
    margin: 4px;
    text-align: right;
    color: orange;
    opacity: 0.9;
}

