@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mali:wght@300&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700&display=swap');


.titleWHOME {
    color: black;
    font-size: 32px;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: "Mali";
}
.titleFunc {
    color: black;
    font-size: 35px;
    font-family: "Kanit";
    letter-spacing: 0.5px;
    text-align: center;
}
.buttext {
    color: white;
    font-size: 18px;
    font-family: "Kanit";
    letter-spacing: 0.5px;
    text-align: center;
}


.products-table{
    
    overflow:scroll;
}