.titleFunc {
    color: white;
    font-size: 25px;
    font-family: "Kanit";
    letter-spacing: 0.5px;
    text-align: center;
}
.btn-rounded-corners {
    margin-left: 25px;
    width: 85%;
    height: 80px;
    border-radius: 25px;
}
.box{
    padding-top: 8%;
}