
    <div class="box">
        <button class="btn btn-primary btn-lg btn-block btn-rounded-corners" routerLink="/home" >
            <i class="fa fa-home"  style="color: white; "></i>
            <div class="titleFunc">หน้าแรก</div>
        </button>
    </div>

    <div class="box">
        <button class="btn btn-primary btn-lg btn-block btn-rounded-corners"  routerLink="/order" >
            <div class="titleFunc"><i class="fa fa-edit"  style="color: white; margin-right: 10px;"></i>ออร์เดอร์</div>
        </button>
    </div>

    <div class="box">
        <button class="btn btn-primary btn-lg btn-block btn-rounded-corners" routerLink="/pay" >
            <div class="titleFunc"><i class="fa fa-credit-card"  style="color: white; margin-right: 10px;"></i>ชำระเงิน</div>
        </button>
    </div>

    <div class="box">
        <button class="btn btn-primary btn-lg btn-block btn-rounded-corners" routerLink="/orderh" >
            <div class="titleFunc"><i class="fa fa-history"  style="color: white; margin-right: 10px;"></i>ประวัติออร์เดอร์</div>
        </button>
    </div>

    <div class="box">
        <button class="btn btn-primary btn-lg btn-block btn-rounded-corners" routerLink="/managemenu">
            <div class="titleFunc"><i class="fa fa-book"  style="color: white; margin-right: 10px;"></i>จัดการเมนู</div>
        </button>
    </div>

    <div class="box">
        <button class="btn btn-primary btn-lg btn-block btn-rounded-corners" routerLink="/manageingrt" >
            <div class="titleFunc"><i class="fa fa-leaf"  style="color: white; margin-right: 10px;"></i>จัดการวัตถุดิบ</div>
        </button>
    </div>

    <div class="box">
        <button class="btn btn-primary btn-lg btn-block btn-rounded-corners" routerLink="/summary" >
            <div class="titleFunc"><i class="fa fa-codepen"  style="color: white; margin-right: 10px;"></i>สรุปยอด</div>
        </button>
    </div>

    <div class="box">
        <button class="btn btn-primary btn-lg btn-block btn-rounded-corners" routerLink="/shopinfo" >
            <div class="titleFunc"><i class="fa fa-info-circle"  style="color: white; margin-right: 10px;"></i>ข้อมูลร้าน</div>
        </button>
    </div>
