<div class="container">
<nav *ngIf="!router.url.includes('login')" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Cafe Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav mitfFont">
      <li class="nav-item active" >
        <a class="nav-link" routerLink="/home" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/order" href="#">Order <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pay" href="#">Payment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/queue" href="#">Queue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/orderh" href="#">Order-history</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/managemenu" href="#">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manageingrt" href="#">Ingredient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/summary" href="#">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopinfo" href="#">Shop-info</a>
      </li>
      
    </ul>
    <ul class="navbar-nav ml-auto">
      <div class="pull-right">
        <div class="dropdown">
          <span class="mitfFontHev" style="color: white;">{{shop}}&nbsp;</span> <i class="fa fa-chevron-down" style="color: white;"></i>
          <div class="dropdown-content" style="margin-left: -15vw; margin-top: -1vw;">

              <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-10 mitfFontHev" style="text-align: center;">
                      {{shop}}
                  </div>
                  <div class="col-sm-1"></div>
              </div>
              <br>
              <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10 ">
                  <button class="btn btn-dark btn-rounded-corners btn_slshop" routerLink="/shopinfo">
                    <div class="mitfFontHevB">ข้อมูลร้าน</div>
                    
                  </button>
              </div>
              <div class="col-sm-1"></div>

            </div>
            <br>
              <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10 ">
                  <button class="btn btn-dark btn-rounded-corners btn_slshop" routerLink="/promotion">
                    <div class="mitfFontHevB">จัดการโปรโมชั่น</div>
                  </button>
              </div>
              <div class="col-sm-1"></div>

            </div>
            

            <br>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6 ">
                  <button class="btn btn-danger  btn_slshop2 titleBsmall"   routerLink="/slshop">
                    <div class="mitfFontHevB">เลือกร้านค้า</div>
                  </button>
              </div>
              <div class="col-sm-3"></div>

            </div>

          </div>
        </div>
      </div>
    </ul>
    <ul class="navbar-nav ml-auto">

      <div class="pull-right">
        


        <div class="dropdown titleWmed pull-right">
           <i class="fa fa-chevron-down"  style="color: white; margin-left: 10px;"></i>
          <div class="dropdown-content">
            <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                  <img [src]="getImg()" style="width:100px; height: 100px;" alt="Avatar">
              </div>
              <div class="col-sm-4"></div>

            </div>
            <br>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <div class="mitfFontHevB" style="text-align: center;">{{getName()}}</div>
              </div>
              <div class="col-sm-1"></div>

            </div>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <div class="mitfFontHevB" style="text-align: center; font-size: 12px;">{{getEmail()}}</div>
                  
              </div>
              <div class="col-sm-1"></div>

            </div>
            <br>
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10 ">
                  <button class="btn btn-dark btn-rounded-corners btn_slshop" routerLink="/employee" >
                    <div class="mitfFontHevB">จัดการพนักงาน</div>
                  </button>
              </div>
              <div class="col-sm-1"></div>

            </div>
            
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10 ">
                  <button class="btn btn-dark btn-rounded-corners btn_slshop " style="margin-top: 10px" routerLink="/customer" >
                    <div class="mitfFontHevB">สมาชิก</div>
                  </button>
              </div>
              <div class="col-sm-1"></div>

            </div>
            <br>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6 ">
                  <button class="btn btn-danger  btn_slshop2 " (click)="logOut()" >
                    <div class="mitfFontHevB">ออกจากระบบ</div>
                  </button>
              </div>
              <div class="col-sm-3"></div>

            </div>
            <br>
          </div>
        </div>
        <a href="">

          <img [src]="getImg()" class="pull-right" style="width:15%; height:auto;" alt="Responsive image">
        </a>
        
      </div>
      
    </ul>
    
  </div>
</nav><br/><br/>
</div>