<app-menu></app-menu>
<div class="row">
    <div class="col-2" style="background-color: #343a40; opacity: 80%; padding-bottom: 5%;">
        <app-funcbar></app-funcbar>
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="main">
                    <span>W</span>
                    <span>E</span>
                    <span>L</span>
                    <span>C</span>
                    <span class="letter"></span>
                    <span>M</span>
                    <span>E</span>
                </div>
                <br>
                <h1 class="titleWmed" >สวัสดี!</h1>
                <br>
                <h1 class="titleWHOME" >{{name}}</h1>
                <br>
                <h1 class="titleWmed" >พวกเราหวังว่าวันนี้ร้านคุณจะขายดีนะ !</h1>
            </div>
            <div class="col-4">

            </div>
            
        </div>
    </div>
</div>
