
<app-menu></app-menu>
    <div class="img-1">
        <div class="title mitfFont fontre70x">Cafe Management</div>
      </div>
      
      <section class="section mitfFont">
      สวัสดี ! แอปนี้จะสามรถช่วยคุณจัดการได้หลายอย่าง เพื่อให้เจ้าของร้านมีความสะดวกสะบาย เจ้าของร้านสามารถมีร้านค้าได้หลายร้านตามที่ต้องการ การจัดการร้านเเต่ละร้าน สามารถทำได้ ! เก็บข้อมูลของคุณเพื่อดูสถิติ <br/> ขอให้วันนี้เป็นวันที่ดี !
      </section>
      
      <div class="img-2">
        <div class="mitfFont title fontre70x">ระบบที่หลากหลาย !</div>
      </div>
      
      <section class="section section-light mitfFont">
          แอปเรามีหลายฟังก์ชั่น ใช้จัดการข้อมูลได้หลายอย่างเท่าที่ต้องการ ไม่ว่าจะเป็น การจัดการพนักงานหรือลูค้า รวมถึงโปรโมชั่น มีการจัดการเมนูของร้านเเละวัตถุดิบภายในร้าน <br/>ระบบคิดเงินพร้อมทั้ง QrCode พร้อมเพย์เพื่อสะดวกในการชำระเงินของคนยุคใหม่
      </section>
      
      <div class="img-3">
        <div class="title mitfFont fontre70x">เมนูของคุณเอง !</div>
      </div>
      
      <section class="section mitfFont">
        ร้านคาเฟ่นอกจากขายอาหารและเครื่องดื่มแล้วที่ขาดไม่ได้เลยคือ ขนมหวาน ซึ่งเป็นตัวทำกำไรไม่น้อยหน้าสินค้าตัวอื่นเลยล่ะ ถ้าทำเองคุ้มกว่าสั่งอีกนะ! <br/>ถ่ายรูปเมนูของคุณให้น่าสนใจ เพื่อให้ลูกค้าเกิดความสนใจ เพื่อเพิ่มรายได้ของร้านคุณ!
        </section>
      
      <div class="img-4">
        <div class="title mitfFont fontre70x">เริ่มใช้เลย !</div>
      </div>

