@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mali:wght@300&display=swap" rel="stylesheet');

.titleWHOME {
    color: white;
    font-size: 32px;
    letter-spacing: 0.5px;
    text-align: center;
}
.titleWmed {
    color: white;
    font-size: 18px;
    font-family: "Mali";
    letter-spacing: 0.5px;
    text-align: center;
}
.titleFunc {
    color: white;
    font-size: 25px;
    font-family: "Kanit";
    letter-spacing: 0.5px;
    text-align: center;
}
img {
    border-radius: 50%;
  }

.funcbut{
    color: #343a40;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 42px;
    border-radius: 0px 8px 8px 0px;
    overflow: auto;
}
.btn-rounded-corners {
    border-radius: 25px;
    color: red;
}