<app-menu></app-menu>
      <div class="container-fluid">
        <div class="row">
          <div class="col-1">

          </div>

          <div class="col-10">
            <br/>
            <div class="col text-center">
              <div class="mitfFont fontre">สมาชิก</div>
            </div>
            <br/>
            
            <br/>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
              <table class="table table-bordered table-striped mb-0" style="background-color: white;">
                <thead class="thead-dark mitfFontlight" style="text-align: center;">
                  <tr>
                    <th scope="col">ลำดับ</th>
                    <th scope="col">ชื่อ-นามสกุล</th>
                    <th scope="col">อีเมล</th>
                    <th scope="col">เบอร์โทร</th>
                    <th scope="col">แต้มสะสม</th>
                  </tr>
                </thead>
                <tbody class="mitfFont" style="text-align: center;">
                  <tr *ngFor="let item of customers; index as i">
                    <td scope="row">{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.point}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
          </div>

          <div class="col-1">

          </div>
        </div>
      </div>