<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <br/>
            <a class="underlineHover mitfFontHev font30x" routerLink="/slshop" style=" font-size: 1.2vw; color: black;"href="#">กลับ</a>
        </div>
        <div class="col-sm-10">
            <br/>
            <br/>
            <div class="card" >
                <br/>
                
                <div class="mitfFont fontre" style="margin-left: 1%;">เพิ่มร้านค้าของคุณ</div>
                <br/>
                <div class="row">
                    <div class="col-sm">
                        <form [formGroup]="shopForm">
                            <img class="card-img-top"
                                    [src]="this.shopForm.value.imageProfile"
                                    alt="Card image" style="width: 12vw; height: 12vw; margin-left: 5%;">
                        </form>
                        <br/>
                        <div class="form-group" style="margin-left: 5%;">
                            <label class="col-md-12 control-label mitfFont" for="filebutton">รูปโปรไฟล์</label>
                            <div class="col-md-4">
                                <form [formGroup]="shopForm" style="width: 200px;">
                                <input class="form-control-file mitfFont"  type="file" (change)="onChangeImg($event)">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm mitfFont">
                        <form [formGroup]="shopForm">

                            <label class=" control-label">ชื่อร้าน</label>
                                <input type="text" class="form-control input-md" formControlName="name" style="width: 80%; border-radius: 25px;">
                                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-invalid text-center">
                                        <div *ngIf="name.errors.required">
                                            กรุณากรอกชื่อร้าน
                                        </div>
                                </div>

                             <label class=" control-label">เบอร์ติดต่อ</label>
                                <input type="text" class="form-control input-md" formControlName="phoneNumber" style="width: 80%; border-radius: 25px;">
                                <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="text-invalid text-center">
                                        <div *ngIf="phoneNumber.errors.required">
                                        กรุณากรอกเบอร์โทร
                                        </div>
                             <div *ngIf="phoneNumber.errors.minlength || phoneNumber.errors.maxlength">
                                  กรุณากรอกรูปแบบเบอร์โทร
                             </div>
                          </div> 

                          <label class="control-label">เบอร์พร้อมเพย์</label>
                            <input type="text" class="form-control input-md" formControlName="promptpay" style="width: 80%; border-radius: 25px;">
                             <div *ngIf="promptpay.invalid && (promptpay.dirty || promptpay.touched)" class="text-invalid text-center">
                                 <div *ngIf="promptpay.errors.required">
                                   กรุณากรอกเบอร์โทร
                                 </div>
                                <div *ngIf="promptpay.errors.minlength || promptpay.errors.maxlength">
                                     กรุณากรอกรูปแบบเบอร์โทร
                                </div>
                              </div>

                          <div class="row">
                              <div class="col-6">
                                <label class=" control-label">เวลาเปิด</label>
                            <input type="time" class="form-control input-md" formControlName="timeO" style="width: 90%; border-radius: 25px;">
                            <div *ngIf="timeO.invalid && (timeO.dirty || timeO.touched)" class="text-invalid text-center">
                              <div *ngIf="timeO.errors.required" >
                                  กรุณาเลือกเวลาเปิด
                              </div>
                            </div>
                              </div>
                              <div class="col-6">
                                <label class=" control-label">เวลาปิด</label>
                            <input type="time" class="form-control input-md" formControlName="timeC" style="width: 80%; border-radius: 25px;">
                            <div *ngIf="timeC.invalid && (timeC.dirty || timeC.touched)" class="text-invalid text-center">
                              <div *ngIf="timeC.errors.required">
                                  กรุณาเลือกเวลาปิด
                              </div>
                           </div>
                              </div>
                            
  
                            
                          </div>
                          
                          
                        
                              <label class=" control-label">คำอธิบายร้าน</label>
                                <input type="text" class="form-control input-md" formControlName="description" style="width: 80%; border-radius: 25px;">
                                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-invalid text-center">
                                    <div *ngIf="description.errors.required">
                                        กรุณากรอกคำอธิบายร้าน
                                    </div>
                                </div>

                        </form>
                        

                    </div>
                    <div class="col-sm mitfFont">
                        <form [formGroup]="shopForm">

                         <label class=" control-label">ที่อยู่ร้าน</label>
                         <input type="text" class="form-control input-md" formControlName="address" style="width: 80%; border-radius: 25px;">
                         <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-invalid text-center">
                             <div *ngIf="address.errors.required">
                                 กรุณากรอกที่อยู่
                             </div>
                          </div>
                          
                          <label class=" control-label">ตำบล</label>
                          <input type="text" class="form-control input-md" formControlName="tumbon" style="width: 80%; border-radius: 25px;">
                          <div *ngIf="tumbon.invalid && (tumbon.dirty || tumbon.touched)" class="text-invalid text-center">
                            <div *ngIf="tumbon.errors.required">
                                กรุณากรอกตำบล
                            </div>
                         </div>

                          <label class="control-label">อำเภอ</label>
                          <input type="text" class="form-control input-md" formControlName="amphoe" style="width: 80%; border-radius: 25px;">
                          <div *ngIf="amphoe.invalid && (amphoe.dirty || amphoe.touched)" class="text-invalid text-center">
                            <div *ngIf="amphoe.errors.required">
                                กรุณากรอกอำเภอ
                            </div>
                         </div>

                         <label class=" control-label">จังหวัด</label>
                          <input type="text" class="form-control input-md" formControlName="province" style="width: 80%; border-radius: 25px;">
                          <div *ngIf="province.invalid && (province.dirty || province.touched)" class="text-invalid text-center">
                            <div *ngIf="province.errors.required">
                                กรุณากรอกจังหวัด
                            </div>
                         </div>

                         <label class="control-label">ไปรษณีย์</label>
                          <input type="text" class="form-control input-md" formControlName="post" style="width: 80%; border-radius: 25px;">
                          <div *ngIf="post.invalid && (post.dirty || post.touched)" class="text-invalid text-center">
                            <div *ngIf="post.errors.required">
                                กรุณากรอกรหัสไปรษณีย์
                            </div>
                            <div *ngIf="post.errors.minlength || post.errors.maxlength">
                                กรุณากรอกรูปแบบรหัสไปรษณีย์
                          </div>
                         </div>


                        </form>
                    </div>
                    
                </div>
                <div>
                    <form [formGroup]="shopForm" style="float: right;"><br/>
                        <button class="btn btn-primary btn-rounded-corners mitfFont "  style="font-size: 0.75vw; margin-right: 5vw; width: 10vw;" (click)="addShop()" > บันทึก </button><br/>
                    </form>
                    
                </div>

            </div>
            
        </div>
        <div class="col-sm-1">

        </div>
    </div>
</div>