
&nbsp;
<div class="form-group">
            
</div>&nbsp;

<div class="row">
    
    <div class="col-sm-1">

    </div>
    <div class="col-sm-10">
        <div class="card" style="max-width: 100%; height: 800px; border-radius: 20px;">
            &nbsp;
            <div class="row">
                <h1 class="titleBlack col-sm-3">เพิ่มร้านค้าของคุณ</h1>
            </div>
            &nbsp;
            <div class="row"> 

                <div class="col-sm-3">
                    <div class="row">  
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-11">
                            <form [formGroup]="shopForm">
                            <img class="card-img-top"
                                    [src]="this.shopForm.value.imageProfile"
                                    alt="Card image" style="height: 300px; width: 300px;"></form>
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="filebutton">รูปโปรไฟล์</label>
                            <div class="col-md-4">
                                <form [formGroup]="shopForm">
                                <input class="form-control-file" type="file" (change)="onChangeImg($event)">
                                </form>
                            </div>
                            </div>
                            &nbsp;
                            <div class="form-group">
                            </div>
                            &nbsp;
                            <div class="form-group">
                            </div>
                            &nbsp;
                            <div class="form-group">
                            </div>&nbsp;
                            <div class="form-group">
                            </div>&nbsp;
                            <div class="form-group">
                            </div>&nbsp;
                            <div class="form-group">
                            </div>&nbsp;
                            <div class="form-group">      
                            </div>
                            <a class="underlineHover titleBack " routerLink="/slshop" href="#">ย้อนกลับ</a>
                        </div>
                    
                        </div>
                </div>

                <div class="col-sm-5">
                    &nbsp;

                    <form [formGroup]="shopForm">
                    <div class="col-sm-9">
                        <label class="col-md-6 control-label" for="textinput">ชื่อร้าน</label>
                        <input type="text" class="form-control input-md" formControlName="name">
                          
                        </div>&nbsp;
                    <div class="col-sm-5">
                        <label class="col-md-6 control-label" for="textinput">เบอร์ติดต่อ</label>
                        <input type="text" class="form-control input-md" formControlName="phoneNumber">
                              
                    </div>
                    &nbsp;
                    <div class="col-sm-9">
                        <label class="col-md-6 control-label" for="textinput">คำอธิบายร้าน</label>
                        <input type="text" class="form-control input-md" formControlName="description">
                              
                    </div>&nbsp;

                    <div class="row">
                        
                        <div class="col-sm-5" style="margin-left: 15px;">
                          <label class="col-md-5 control-label" for="passwordinput">เวลาเปิด</label>
                          <input type="time" class="form-control input-md" formControlName="timeO">
                          
                        </div>
                        
                        <div class="col-sm-5" style="margin-left: 28px;">
                          <label class="col-md-5 control-label" for="passwordinput">เวลาปิด</label>
                          <input type="time" class="form-control input-md" formControlName="timeC">
                          
                        </div>
            
                        
                        
                    </div>&nbsp;
                    <div class="col-sm-11">
                        <label class="col-md-6 control-label" for="textinput">ที่อยู่ร้าน</label>
                        <input type="text" class="form-control input-md" formControlName="address">
                              
                    </div>&nbsp;
                    <div class="row">
                        
                        <div class="col-sm-5" style="margin-left: 15px;">
                          <label class="col-md-5 control-label" for="passwordinput">ตำบล</label>
                          <input type="text" class="form-control input-md" formControlName="tumbon">
                          
                        </div>
                        
                        <div class="col-sm-5" style="margin-left: 28px;">
                          <label class="col-md-5 control-label" for="passwordinput">อำเภอ</label>
                          <input type="text" class="form-control input-md" formControlName="amphoe">
                          
                        </div>
            
                        
                        
                    </div>&nbsp;
                    <div class="row">
                        
                        <div class="col-sm-5" style="margin-left: 15px;">
                          <label class="col-md-5 control-label" for="passwordinput">จังหวัด</label>
                          <input type="text" class="form-control input-md" formControlName="province">
                          
                        </div>
                        
                        <div class="col-sm-5" style="margin-left: 28px;">
                          <label class="col-md-5 control-label" for="passwordinput">ไปรษณีย์</label>
                          <input type="text" class="form-control input-md" formControlName="post">
                          
                        </div>
            
                        
                        
                    </div>&nbsp;
                    </form>

                </div>
                
                <div class="col-sm-4">
                    <div class="row"> 

                            <div class="col-sm-11">
                                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                                    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                                    style="border:0" allowfullscreen></iframe>
                                </div>
                                    &nbsp;
                                    <div class="form-group">
                        
                                    </div>
                                    &nbsp;
                                    <div class="form-group">
                        
                                    </div>
                                    &nbsp;
                                    <div class="form-group">
                        
                                    </div>
                                    <form [formGroup]="shopForm">
                                    <button class="btn btn-primary btn-rounded-corners titleWhite "  (click)="addShop()" > บันทึก </button>
                                    </form>
                            </div>

                            <div class="col-sm-1">
                                
                            </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1">

    </div>
</div>

