<app-menu></app-menu>
  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <br/>
            <div class="col text-left" style="padding-left: 2%;">
              <div class="mitfFont fontre">เมนู</div>
            </div>
            <button type="button" class="btn btn-secondary btnRound  mitfFont" (click)="Coffee()">กาแฟ</button>
            <button type="button" class="btn btn-secondary btnRound  mitfFont" (click)="Tea()">ชา</button>
            <button type="button" class="btn btn-secondary btnRound  mitfFont" (click)="Milk()">นม</button>
            <button type="button" class="btn btn-secondary btnRound  mitfFont" (click)="Soda()">โซดา</button>
            <button type="button" class="btn btn-secondary btnRound  mitfFont" (click)="Snack()">ขนม</button>
            <button type="button" class="btn btn-secondary btnRound2  mitfFont" (click)="Promotion()">โปรโมชั่น</button>
        <br/>
        <br/>
        <div class="row my-custom-scrollbar" >
          
          <div class="card" style="width: 10vw; height: 15vw; margin-left: 1vw; margin-bottom: 1vw;" *ngFor="let item of menu; index as i" >
            <a (click)="addMenu({name:item.name,id:item._id,type:item.type,price:item.price,variation:item.variation})">  
              <img [src]="item.img" class="image" style="width: 10vw; height: 10vw;" alt="Card image">
            </a>
           
            <div class="card-body mitfFont" style="font-size: 1vw;">
              {{item.name}} ({{item.variation}})
            </div>
  </div> 
        </div>  
      </div>
      <div class="col-3">
        <br/><br/>
        <div class="mitfFont font25x" style="padding-left: 5px;">รายการที่เลือก</div>
        <br/>
        <div class="container my-custom-scrollbar" style="height: 38vw;">
          <!--ชาเขียวกับกากะบาท-->
          <div *ngFor="let item of selectMenu; index as i" class="row" style="margin-left: 0px">
                              
            <div class="col-8">
                <div class="row menutext mitfFont" style="font-size: 1vw; width: 10vw;">
                  <div style="margin-left: 10%;">
                    {{item.name}}
                    
                    {{item.variation}}
                  </div>
                </div>
            </div>
            <div class="col-2">
              <div class="row  mitfFont" style="font-size: 1vw;">
                <button  style="border-radius: 100px;"(click)="deletSelect(i)">X</button>
              </div>
                
            </div>
            <br/>
            
          </div> 
          <!--ชาเขียวกับกากะบาท-->
       </div>
      <button class="btn btn-dark btn-rounded-corners btn_slshop mitfFont " style="font-size: 0.75vw; background-color: black; width: 7vw; margin-left: 1%;" (click)="deleteAllSelect()" >ล้าง</button>
      <button class="btn btn-primary btn-rounded-corners btn_slshop mitfFont " style="font-size: 0.75vw; background-color: #0b83f6; width: 7vw ;margin-left: 1%;" (click)="saveOrder()"  >บันทึก</button>
      </div>        

    </div>
  </div>
