@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mali:wght@300&display=swap" rel="stylesheet');



.titleType {
    color: white;
    font-size: 18px;
    font-family: "Kanit";
    letter-spacing: 0.5px;
    text-align: center;
}
.titleBack {
    color: black;
    font-family: "Kanit";
    font-size: 25px;
    letter-spacing: 0.5px;
   
}
.menutext {
    color: black;
    letter-spacing: 0.5px;
    border-style: solid; 
    border-radius: 25px;
    border-width: 1px;
    
}
.buttonCircle {
    transition-duration: 0.4s;
    width: 1.5vw;
    height: 1.5vw;
  }
.button3 {
    color: black; 
    border: 2px solid #f44336;
}
.btnRound {
  margin-left: 2%;
  width: 70px;
  height: 40px;
  border-radius: 25px;
}
.btnRound2 {
  margin-left: 2%;
  width: 90px;
  height: 40px;
  border-radius: 25px;
}
.square {
  background: #000;
  width: 50vw;
  height: 50vw;
}

  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }
  .btn_slshop{
    border-radius: 25px;
    background: white;
    width: 100%;
    height:40px;
    opacity: 85%;
}
@import url('https://fonts.googleapis.com/css?family=Mukta:700');

$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: "Kanit";
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: $bg;
}
.my-custom-scrollbar {
  position: relative;
  height: 700px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }


@supports (display: grid) {
  body {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.625rem;
  grid-template-areas: ". main main ." ". main main .";
  }
  
  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}
.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

@media (min-width: 48em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

@media (min-width: 62em) {
  .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
  }
}

@media (min-width: 75em) {
  .card-columns {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
  }
}