
<div class="row">
    <div class="col-2" style="background-color: #343a40; opacity: 80%;">
        <app-funcbar></app-funcbar>
    </div>
    <div class="col-10">
        &nbsp;
            <div class="row">
                

                <div class="col-1">
                    <button class="learn-more" style="background-color: white; border-radius: 25px;">
                        <span class="circle" aria-hidden="true">
                          <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">ร้อน</span>
                      </button>
                </div>

                <div class="col-1">
                    <button class="learn-more" style="background-color: white; border-radius: 25px;">
                        <span class="circle" aria-hidden="true">
                          <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">เย็น</span>
                      </button>
                </div>

                <div class="col-1">
                    <button class="learn-more" style="background-color: white; border-radius: 25px;">
                        <span class="circle" aria-hidden="true">
                          <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">ปั่น</span>
                      </button>
                </div>

                <div class="col-8">
                
                </div>
            </div>
            <div  class="row " >
                <div class="col-9"  >
                    <!--เมนูอยู่นี่นะ-->
                    <br>
                    <div class="row" >
                    <div class="card" style="width: 200px; height: 200px;" *ngFor="let item of menu; index as i" >
                        <a (click)="addMenu({name:item.name,id:item._id,type:item.type,price:item.price})">  <img [src]="item.img" style="height: 150px; width: 200px;" alt="Avatar"></a>
                       
                        <div class="card-body">
                          <p class="card-text">{{item.name}}</p>
                        </div>
                      </div>     
                    </div>                 

                </div>
                <div class="col-3 " style="background-color: white; padding-top: 50px; margin-top: -72px; height: 800px;">
                    <div class="titleBack" style="padding-left: 5px;">รายการที่เลือก</div>
                    <br>
                    <div class="" style="padding-left: 5px; margin-right: 80px;">
                       
                        <!--ชาเขียวกับกากะบาท-->
                        <div *ngFor="let item of selectMenu; index as i" class="row" style="margin-left: 1px">
                            <div class="col-10">
                                <div class="row menutext" style="pad: 10;margin: 10;">
                                    <div class="col-9">{{item.name}}</div>
                                    <div class="col-3">{{item.type}}</div>
                                </div>
                            </div>
                            <div class="col-2">
                                <button class="button button3" style="border-radius: 100px;"(click)="deletSelect(i)">X</button>
                            </div>
                            <br>
                        </div>
                        <!--ชาเขียวกับกากะบาท-->
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9"></div>
                <div class="col-3 " style="background-color: white; height: 58px;">
                    <button class="btn btn-primary btn-rounded-corners btn_slshop titleBmedA " style="background-color: black; width: 150px; margin-left: 5px;" (click)="deleteAllSelect()" >ล้างรายการ</button>
                    <button class="btn btn-primary btn-rounded-corners btn_slshop titleBmedA " style="background-color: #0b83f6; width: 150px; margin-left: 50px;" (click)="saveOrder()">บันทึก</button>
                </div>
            </div>
    </div>
</div>
