.btn-rounded-corners {
    margin-left: 25px;
    width: 250px;
    height: 70px;
    border-radius: 25px;
}
.custom-select{
    margin-left: 25px;
    width: 250px;
    height: 70px;
    border-radius: 25px;
}

.text-invalid{
    font-size: 0.85rem;
    margin: 4px;
    color: orange;
    opacity: 0.9;
}

