.btn-rounded-corners {
    border-radius: 25px;
    width: 150px;
    height: 50px;
    margin-left: 620px;
}
.container{
	width: 100%;
	height: auto;
	margin: auto;
}

.row1{
	width: 33%;
	height: auto;
	margin: auto;
	margin-top: -15px;
	
}
.titleBack {
	color: black;
	font-family: "Mali";
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: bold;
	margin-left: 60px;
	margin-bottom: -40px;
}