.bgfull{
    width: 100%;
    height: 100%;
    background-color: white;
}
.titleBack {
    color: black;
    font-family: "Mali";
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bolder;
   
}
.titleWhiteSmall {
    color: white;
    font-family: "Mali";
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bolder;
   
}
.titleRedSmall {
    color: #566573;
    font-family: "Mali";
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bolder;
   
}
*{
	padding: 0;
	margin: 0;
}