<app-menu></app-menu>
<div class="container-fluid">
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
            <br/>
            <div class="col text-center">
                <div class="mitfFont fontre">สรุปยอด</div>
            </div>
            <div class="row mitfFont font30x ">
                <div class="col text-center">ยอดรวม : {{this.totalPrice}} บาท ออเดอร์ : {{this.orders}} ออเดอร์</div>
            </div>
            <chart  [type]="typeChart" [data]="dataChart" [options]="optionsChart"></chart>
            
        </div>
        <div class="col-1">

        </div>
    </div>
</div>