.btn-rounded-corners {
    margin-left: 25px;
    width: 250px;
    height: 70px;
    border-radius: 25px;
}
.custom-select{
    margin-left: 25px;
    width: 250px;
    height: 70px;
    border-radius: 25px;
}