<app-menu></app-menu>
<div class="row">
    <div class="col-2" style="background-color: #343a40; opacity: 80%;">
        <app-funcbar></app-funcbar>
    </div>
    <div class="col-10">
        <br/>
        <div class="row">
        <button class="btn btn-primary btn-lg btn-block btn-rounded-corners" >
            <div class="titleFunc"><i class="fa fa-history"  style="color: white; margin-right: 10px;"></i>ประวัติออร์เดอร์</div>
        </button>

        <select class="custom-select  mb-3">
            <option selected>เลือกออเดอร์</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        </div>
    </div>
</div>
