<app-menu></app-menu>
<div class="row">
    <div class="col-2" style="background-color: #343a40; opacity: 80%; padding-bottom: 5%;">
        <app-funcbar></app-funcbar>
    </div>
    <div class="col-10">
        <br/>
        <div class="row">
        <button class="btn btn-primary btn-lg btn-block btn-rounded-corners" >
            <div class="titleFunc"><i class="fa fa-history"  style="color: white; margin-right: 10px;"></i>ประวัติออร์เดอร์</div>
        </button>
        </div>
        <br/>
        <div class="table-wrapper-scroll-y my-custom-scrollbar" >
            <table class="table table-bordered table-striped mb-0" style="background-color: white;">
              <thead class="thead-dark" style="text-align: center;">
                <tr>
                  <th scope="col">ออร์เดอร์</th>
                  <th scope="col">เบอร์สมาชิก</th>
                  <th scope="col">วันที่จ่าย</th>
                  <th scope="col">การจ่าย</th>
                  <th scope="col">จำนวนเมนู</th>
                  <th scope="col">โปรโมชั่นที่ใช้</th>
                  <th scope="col">ราคารวม</th>
                </tr>
              </thead>
              <tbody style="text-align: center;">
                <tr *ngFor="let item of OrderList; index as i">
                    <td scope="row">{{i+1}}</td>
                    <td>{{item.customerPhoneNumber}}</td>
                    <td>{{item.paymentDate}}</td>
                    <td>{{item.paymentMethod}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.promotion}}</td>
                    <td>{{item.totalPrice}}</td>

                </tr>
            </tbody>
            </table>
          </div>
    </div>
</div>
